p,
li {
  font-size: 1.1rem;
  line-height: 140%;
  font-family: lato, "sans-serif";
  font-weight: 400;
  font-style: normal;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

h1 {
  font-family: "Staatliches", "arial";
  font-size: 15rem;
  line-height: 10rem;
}

h1::first-line {
  font-family: "Staatliches", "arial";
  font-size: 8rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Staatliches", cursive;
  font-size: 3.6rem;
  line-height: 100%;
}

h3 {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  padding-top: 1.5rem;
}

h4 {
  font-size: 2rem;
  padding-right: 2rem;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

footer {
  background-color: #f4f4f4;
  height: 6.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

footer a {
  color: black;
  font-size: .8rem;
}

ul {
  margin-left: 25%;
}

#cannabisLogo {
  content: url("assets/images/logos/nj-cannabis-transparent.png");
  width: 70%;
  height: 70%;
}


.contianer,
.container-fluid {
  margin: 0 0;
}



.navbar-light .navbar-nav .nav-link {
  padding-top: 40px;
}

.navbar-light .navbar-nav .nav-link:hover {
  padding-top: 35px;
  color: #44592e;
  border-top: solid #44592e 5px;
}

.nav-link {
  font-size: 0.8rem;
}

.rounded-circle {
  border: white 4px solid;
}

.carousel-content {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  color: magenta;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-caption {
  text-align: right;
}

.bg-light {
  background-color: #fefefe;
}

.carousel-item.img {
  vertical-align: middle;
  border-style: none;

  width: 100%;
  background-size: cover;

}

.full {
  min-height: 400px;
}

.full.img {
  vertical-align: middle;
  border-style: none;

  width: 100%;
  background-size: cover;
  min-height: 400px;
}

.teamText {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 5%;
  z-index: 10;
  max-height: 600px;
}

.teamText2 {
  position: absolute;
  top: 2rem;
  left: 5%;
}

.teamCard {
  position: absolute;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-left: white solid 3px;
  margin-left: 1rem;
  color: white;
}

.btn-weed {
  background-color: none;
  border: solid #44592e;
  color: white;
  margin-top: 5rem;
}

.btn-weed:hover {
  background-color: #44592e;
  color: white;
}

.btn-weed:visited {
  background-color: #44592e;
  color: white;
  border: solid #44592e;
}

.btn-footer {
  font-size: .8rem;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
}

.btn-footer:hover {
  color: blue;
  text-decoration: underline;
}



.whatSection {
  background-color: #595959;
}

.btn-secondary {
  line-height: 0.9rem;
}


.featurette-image {
  border-radius: 7%;
  margin-bottom: 3vh;
}

.featurette {
  /* background-color: #5da93b; */
  background-color: #44592e;
  color: white;
  min-height: 20vh;
}

.leadin {
  font-family: lato, "sans-serif";
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
}

/**Who subscribes**/
.RecCard {
  background-color: rgba(0, 0, 0, 0);
  border: white solid 3px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.personTitle {
  font-size: 0.8rem;
  line-height: 120%;
  font-style: italic;
}

.cardTopBlock {
  height: 100%;
  background-color: white;
  background-image: linear-gradient(white, #44592e);
  background: -moz-linear-gradient(top,
      #ffffff 0%,
      #ffffff 50%,
      #44592e 51%,
      #44592e 100%);
  background: -webkit-linear-gradient(top,
      #ffffff 0%,
      #ffffff 50%,
      #44592e 51%,
      #44592e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #ffffff 0%,
      #ffffff 50%,
      #44592e 51%,
      #44592e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.subscription {
  padding-top: 2vh;
}

.card-body {
  padding: 10px;
}

.mobile-card-content {
  padding-right: 10%;
  padding-left: 10%;
  color: white;
  background-color: #585858;
}

.card-img-top {
  height: 50%;
  width: 50%;
  margin-left: 25%;

}

/* Grid images */

.td.img {
  max-width: 100px;
}

/* Mobile card**/
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.rounded-circle-mobile {
  border-radius: 50% !important;
  width: 30vw;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  border: white solid 4px;
}

.rounded-circle-mobile-two {
  border-radius: 50% !important;
  width: 30vw;
  height: auto;
  max-width: 75px;
  max-height: 75px;
  border: white solid 4px;
}

/** logo-container**/
.logo-container {
  background-color: white;
}



/* GRID */
.gItem {
  border: 1px solid #f4f4f4;
  background-color: #fff;
  text-align: center;
  line-height: 110px;
  height: 140px;
}

.gImg {
  width: 240px;
  max-height: 110px;
}

.gImg2 {
  width: 240px;
  height: 60px;
  margin-top: 20px;
}

.gImg3 {
  width: 240px;
  height: 40px;
  margin-top: 40px;
}

.gImg4 {
  width: auto;
  height: 110px;
  margin-left: 70px;
  margin-right: 71px;
}

.gImg5 {
  width: auto;
  height: 110px;
  margin-left: 36.5px;
  margin-right: 36.5px;
}

.gImg6 {
  width: auto;
  height: 110px;
  margin-left: 72px;
  margin-right: 72px;
}

.gImg7 {
  width: auto;
  height: 110px;
  margin-left: 62.5px;
  margin-right: 62.5px;
}

.gImgBox {
  width: 260;
  height: 130px;
}

.griddyMobile {
  display: none;
}



@media only screen and (max-width: 1200px) {
  .griddyDesktop {
    display: none;
  }

  .griddyMobile {
    display: flex;
  }

  .desktopWhoSubscribes {
    display: none;
  }

  h1 {
    font-size: 10rem;
    line-height: 7rem;
  }

  h1::first-line {
    font-family: "Staatliches", "arial";
    font-size: 5.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.3rem;
    padding-right: 2rem;
  }

  .btn-weed {
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #44592e;
    width: 220px;
  }

  .carousel-caption {
    text-align: center;
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }


  #cannabisLogo {
    content: url("assets/images/cannabis-insider-logo-mobile.png");
    width: 70%;
    height: 70%;
  }
}


/*current*/
@media only screen and (max-width: 900px) {
  .container-team {
    display: none;
  }

  .desktopWhoSubscribes {
    display: none;
  }

  .carousel-item.img {
    min-height: 400px;
    object-fit: cover;
  }

  h1 {
    font-size: 7rem;
    line-height: 4.7rem;
  }

  h1::first-line {
    font-family: "Staatliches", "arial";
    font-size: 3.7rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1rem;
    text-align: center;
    padding-right: 0px;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
  }

  .btn-weed {
    margin-top: 0px;
    margin-bottom: 0.3rem;
  }

  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 200px;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
  }

  #cannabisLogo {
    content: url("assets/images/cannabis-insider-logo-mobile.png");
    width: 100%;
    height: 100%;
  }


  #slides2 {
    min-height: 400px;
  }

  .navbar-brand {
    margin-right: 0rem;
  }


}

@media only screen and (max-width: 600px) {
  ul {
    margin-left: 0px;
  }

  #cannabisLogo {
    content: url("assets/images/xs-cannabis-insider-logo-mobile.png");
    width: 100%;
    height: 100%;
  }

}

/* current*/
@media only screen and (max-width: 400px) {
  .gImg {
    width: 130px;
    height: auto;
    max-height: none;
  }

  .griddyMobile.img,
  .gImg5 {
    max-width: 130px;
    margin: 0px;
    height: auto;
  }

  .gImg4,
  .gImg6,
  .gImg7 {
    width: 130px;
    margin: 0px;
    padding: 0px;
    height: 130px;
  }


}



/**bigger then mobile and tablet**/
@media only screen and (min-width: 900px) {
  .mobile-team {
    display: none;
  }
}

/** super large screen **/
@media only screen and (min-width: 1200px) {
  .teamCard {
    position: absolute;
    top: 15vh;
  }

  .mobileWhoSubscribes {
    display: none;
  }

  ul {
    margin-left: 40%;
  }

  .RecCard {
    margin-right: 50%;
  }
}